

*{
box-sizing: border-box;
}

html, body{
height: 100%;
margin: 0;
}
.container{
padding: 0;
min-height: 100;

margin-top: 0px;
margin-bottom: -70px;
margin-right: auto;
margin-left: auto;


}

img {
  width: 30%
  height: auto
}

header {
background-color: rgb(219, 0, 0);
}

header div {
padding-top: 30px;
padding-right: 0;
padding-bottom: 30px;
padding-left: 0;

margin-top: 0;
margin-bottom: 0;
margin-right: auto;
margin-left: auto;

}




