.box {
    background: #6671D1;
    border-radius: 25px;
}

.Logo {
    border-radius: 25px;
    background: #6671D1;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

#mission {
    padding: 10px;
}

.About {
    background: #00F782;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.Contact {
    background: #00F782;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.Logo:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .95;
}

.About:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.Contact:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.Nav {
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    overflow:hidden
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  /* The image used */
  background-image: url("img_nature.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
