.box {
    background: #6671D1;
    border-radius: 25px;
}

.Index {
    border-radius: 25px;
    background: #6671D1;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

#mission {
    padding: 10px;
}

.About {
    background: #00F782;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.Contact {
    background: #00F782;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.Logo:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .85;
}

.About:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .75;
}

.Contact:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .75;
}

.Nav {
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    overflow:hidden
}

.Donate {
    background: #c4c4c4;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
}

.logoimage {
    float: left;
    max-width: 100%;
    border-radius: 10px;
}

